* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html,
  body {
    line-height: 1.4;
    font-weight: 300;
    font-family: "Roboto", sans-serif;
    background-color:lightgray
  }
  
  .hero_section {
    background-image: url(images/image1.webp);
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .text_container {
    color: white;
    max-width: 900px;
    margin: 0 auto;
    padding-top: 64px;
    padding-left: 16px;
  }
  .lg_text {
    font-size: 72px;
    font-weight: 400;
  }