html , body {
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: "lato", sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color: #666;
}
.pimg1 {
    background-image: url(images/image1.jpg);
    min-height: 100%;
   
}
.pimg2 {
    background-image: url(images/image2.jpg);
    min-height: 400%;
       
}
.pimg3 {
    background-image: url(images/image3.jpg);
    min-height: 200%;
       
}
.pimg4 {
    background-image: url(images/image4.webp);
    min-height: 200%;
}
.pimg1, .pimg2, .pimg3, .pimg4 {
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.ptext {
    position:absolute;
    top:50%;
    width: 100%;
    text-align: center;
    color: black;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;

}
.textBg {
    background:#313534 ;
    color:#fff;
    padding: 20px;
}
.section {
    padding: 50px 80px;
    text-align: center;
}
.section-light {
    background-color: #f4f4f4;
    color:#666
}
.section-dark{
    background-color: #282e34;
    color:#fff
}
