@import url();
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    font-family: 'Robato','sans-serif';
    transition:0.5s;
    text-transform: capitalize;

}
html{
    font-size: 65%;
    scroll-behavior: smooth;
}
.header{
    padding: 1rem 7%;
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background: black;
}
.logo img{
    width:60px;
}
.navbar{
    color:white;
    margin: 0.5rem;
    padding: 0.5rem;
    font-size: 1.5rem;
}
.navbar a:hover{
    color: white;

}
.icons div{
    color:white;
    font-size: 1.5rem;
    display: flex;

}
.icons div :hover{
    cursor: pointer;
    
}
.icons a{
    color: white;
    padding: 0.6rem 1.5rem;
    border: 1px solid orange;
    border-radius: 10px;
    font-size: 15px;
    transform: 0.5s;
    display: inline-block;
}
.contact-btn:hover{
    transform: scale(1.1);
    background: var(--btn-color);
    

}














@media (max-width:767px){
    .header{
        padding:2rem;
    }
    .icons div{
        display:flex;
    }
}